
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap:30px;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    height: 80vh;
}
.content{
    display: flex;
    gap: 8px;
    font-size: 37px;
    font-weight: 700;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.choose{
    font-size: larger;
    /* right: 20px;  */
    margin: auto;
    position: absolute;
}